.about-bg
	min-height: 100%
	background-image: url('../img/ricepaper.png')
	box-shadow: 0 4px 20px 2px gray
	
	.about-mask
		
	
	.about-wrap
		+outer-container
		padding: 5rem 1rem
		text-align: center

		h1
			//margin-bottom: 2rem

		.about-headshot
			+size(200px)
			border-radius: 50%
			background: yellow
			margin: 2rem


		p
			+span-columns(8)
			+shift(2)
			//screen sizes
			+media($small-screen-only)
				+span-columns(12)
				+shift(0)
			+media($medium-screen-only)
				+span-columns(10)
				+shift(1)